
{% extends 'blog/base.html' %}
{% block content %}
<main role="main" class="container">

  <h1>My Blog</h1>
  {% for post in posts %}

  <div class="card">
    <div class="card-body">
      <a href="{% url 'post_detail' pk=post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      
      <p>published: <strong>{{ post.published_date }}</strong></p>
    </div>
  </div>
{% endfor %}
</main>
{% endblock %}